section, header {
  padding-top: 60px;
}
.sidebar {
  position: fixed;
}
.hot {
  height: 16px;
  width: 16px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url(../img/hot-chili-icon-16x16px.png) 0 0 no-repeat;
  display: inline-block;
}
